.thumbnail{background-color:#FFFFFF;}
.jumbotron{background: url("https://github.com/fogarty-ben/jkan/blob/gh-pages/resources/homepage_bg.jpg?raw=true");
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;}
.btn-homepg{background-color: rgb(192, 192, 192, 0.35);
            color: white;
            font-size: x-large;
            padding-top: 90px;
            padding-bottom: 90px;}
.btn-homepg:hover{background-color: rgb(105, 105, 105, 0.35) !important;}
.navbar-default {
    background-color: #2E4C9D;
    border-color: #2E4C9D;}
a{color: #BF9B30;}
a:hover{color: #A67C00;}
.badge, .list-group-item.active>.badge, .nav-pill{background-color: #BF9B30;}
*{font-family: Verdana}